.center {
    position: fixed;
    width: 512px; 
    height: 512px;
    left: 50%;
    top: 50%;
    margin: -256px 0 0 -256px;
    /*Цвет фона центрального блока*/
    background: #fc0; 
}

.block{
    display: inline;
}

h1{
    text-align: center;
}

ul.hr {
    /* text-align: center; */
    margin: 0; 
    padding: 4px;
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}